@import url("../normalize.css");
@import "fonts.scss";

$color-main-buttons: #ff4e50;
$font-roboto: "Roboto", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$color-main-titles: #333333;
$color-main-text: #666666;
