@font-face {
  font-family: bold "Helvetica Neue Condensed Bold";
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: url("../fonts/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"),
    url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Heavy";
  src: url("../fonts/HelveticaNeueHeavy.eot");
  src: url("../fonts/HelveticaNeueHeavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeueHeavy.woff") format("woff"), url("../fonts/HelveticaNeueHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("../fonts/HelveticaNeue-Medium.eot");
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Medium.woff") format("woff"),
    url("../fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Roman";
  src: url("../fonts/HelveticaNeue-Roman.eot");
  src: url("../fonts/HelveticaNeue-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HelveticaNeue-Roman.woff") format("woff"), url("../fonts/HelveticaNeue-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Humanist777BT Roman";
  src: url("../fonts/Humanist777BT-Roman.eot");
  src: local("☺"), url("../fonts/Humanist777BT-Roman.woff") format("woff"),
    url("../fonts/Humanist777BT-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular.eot");
  src: url("../fonts/ArialRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialRegular.woff") format("woff"), url("../fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold.eot");
  src: url("../fonts/ArialBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialBold.woff") format("woff"),
    url("../fonts/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("..fonts/Georgia.eot");
  src: url("..fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("..fonts/Georgia.woff") format("woff"),
    url("..fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Harlow Solid";
  src: url("../fonts/HarlowSolid.eot");
  src: url("../fonts/HarlowSolid.eot?#iefix") format("embedded-opentype"), url("../fonts/HarlowSolid.woff") format("woff"),
    url("../fonts/HarlowSolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
