@import url("_fonts.scss");

$font-HN-heavy: 'Helvetica Neue Heavy', sans-serif ;
$font-HN-medium: 'Helvetica Neue Medium';
$font-HN-roman: 'Helvetica Neue Roman';
$font-HN-condBold: 'Helvetica Neue Condensed Bold', sans-serif ;
$font-Humanis777BT-roman : "Humanist777BT Roman", sans-serif;
$font-Arial-regular: "ArialRegular", sans-serif;
$font-Arial-bold: "ArialBold", sans-serif;
$font-Georgia-regular: 'Georgia', serif;
$fonts-Harlow-Solid: "Harlow Solid", 

