/* 
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif; 
font-family: "Georgia";
font-family: "Georgia-Bold";
font-family: "Georgia-Bold-Italic";
font-family: "Georgia-Italic";

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

/*Прийшлось так багато шрифтів підключати, бо якщо підклюити тілкт простий Georgia, то у нього параметр bold візуально відрізняється від Georgia Bold. Така ж ситуація і із Italic i Italic Bold*/

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia Regular font.eot");
  src: url("../fonts/Georgia Regular font.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Bold";
  src: url("../fonts/Georgia-Bold.woff") format("woff"), url("../fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Bold";
  src: url("../fonts/georgia bold.eot");
  src: url("../fonts/georgia bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Bold-Italic";
  src: url("../fonts/Georgia-BoldItalic.woff") format("woff"), url("../fonts/Georgia-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Bold-Italic";
  src: url("../fonts/georgia bold italic.eot");
  src: url("../fonts/georgia bold italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Italic";
  src: url("../fonts/Georgia-Italic.woff") format("woff"), url("../fonts/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Italic";
  src: url("../fonts/georgia italic.eot");
  src: url("../fonts/georgia italic.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-blue: #4f4d6a;
  --main-violet: #9c8394;
}

.header_banner_wrapper {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(125, 185, 232, 0) 50%),
    linear-gradient(100deg, rgba(165, 162, 255, 0.2) 0%, rgba(255, 166, 202, 0.2) 100%),
    linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 40%,
      rgba(255, 255, 255, 0.5) 70%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url(../img/header-and-banner-background.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 612px;
}

.content {
  width: 960px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 114px;
}

.logo_link {
  display: block;
  font: 36px "Georgia", serif;
  color: var(--main-blue);
}

.logo_link::first-letter {
  font-family: "Georgia-Italic", serif;
}

.nav_item {
  display: inline-block;
  margin-left: 27px;
}

.nav_item:first-child {
  margin-left: 0;
}

.nav_item_link {
  font: 700 12px "PT Sans", sans-serif;
  color: var(--main-blue);
  text-transform: uppercase;
}

.banner {
}

.main_subtitle {
  font: 24px "Georgia-Italic", serif;
  color: var(--main-blue);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 0.01em;
  padding: 0 20px;
  position: relative;
}

.main_subtitle::before,
.main_subtitle::after {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 408px;
  border-bottom: 1px solid #ffffff;
}

.main_subtitle::before {
  left: 0;
}

.main_subtitle::after {
  right: 0;
}

.main_title {
  font: 125px "Georgia-Bold", serif;
  color: var(--main-blue);
  text-transform: uppercase;
  letter-spacing: -0.025em;
  margin-bottom: 8px;
  text-align: center;
}

.banner_explanation {
  font: 700 18px "Open Sans", sans-serif;
  color: var(--main-blue);
  text-transform: uppercase;
  letter-spacing: 0.01em;
  margin-bottom: 70px;
  text-align: center;
  position: relative;
}

.banner_explanation::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -24px;
  left: 0;
  border-bottom: 1px solid #ffffff;
}

.actions {
  text-align: center;
}

.actions_links {
  display: inline-block;
  height: 44px;
  width: 220px;
  font: 18px "Georgia-Italic", serif;
  line-height: 44px;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin-left: 17px;
  border: 1px solid var(--main-blue);
  border-radius: 20px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 1px 0px 0px rgba(0, 0, 0, 0.13);
}

.actions_links:first-child {
  margin-left: 0;
}

.actions_link_portfolio {
  background: var(--main-blue) linear-gradient(0deg, var(--main-blue) 0%, #6e6c8a 100%);
}

.actions_link_team {
  background: var(--main-violet) linear-gradient(180deg, var(--main-violet) 0%, #6e6c8a 100%);
}

.portfolio {
  background: #ebebeb;
  padding: 66px 0 100px 0;
}

.portfolio_subtitle {
  font-size: 18px;
  margin-bottom: 2px;
}

.portfolio_title {
  font-size: 72px;
  margin-bottom: 52px;
  position: relative;
}

.portfolio_title::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -23px;
  left: 0;
  border-bottom: 1px solid #ffffff;
}

.portfolio_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 79px;
  position: relative;
}

.portfolio_list::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -37px;
  left: 0;
  border-bottom: 1px solid #ffffff;
}

.portfolio_item {
  flex-basis: 22.9%;
  margin-top: 20px;
}

.portfolio_item:nth-child(-n + 4) {
  margin-top: 0;
}

.portfolio_item_img_wrapper {
  margin-bottom: 16px;
}

.portfolio_item_img {
  display: block;
  width: 100%;
  height: 220px;
  padding: 23.5px;
  border-radius: 50%;
  background: #efefef;
}

.portfolio_item_title {
  margin-bottom: 7px;
}

.portfolio_item_title,
.portfolio_item_description {
  font: 22px "Georgia-Italic", serif;
  color: var(--main-blue);
}

.portfolio_item_description {
  font-size: 12px;
  line-height: 1.917;
}

.inspiration {
  padding: 57px 0 85px 0;
}

.inspiration_title {
  font: 24px "Georgia-Italic", serif;
  color: var(--main-blue);
  margin-bottom: 20px;
  padding-left: 8px;
}

.inspiration_list {
  display: flex;
  justify-content: space-around;
}

.inspiration_item {
  flex-basis: 300px;
}

.inspiration_item_description {
  font: 12px "Georgia-Italic", serif;
  color: var(--main-blue);
  line-height: 1.917;
  margin-bottom: 25px;
}

.inspiration_item_link {
  display: block;
  height: 22px;
  width: 100px;
  background: var(--main-blue);
  font: 12px/22px "Georgia-Bold-Italic", serif;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
}

.footer_wrapper {
  background: #505050;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 10px 85px 10px;
}

.footer_inspiration {
  flex-basis: 575px;
}

.footer_titles {
  font: 24px "Georgia-Italic", serif;
  color: #ffffff;
  margin-bottom: 14px;
}

.footer_text {
  font: 12px "Open Sans", sans-serif;
  color: #ffffff;
  line-height: 2;
}

.contact {
  flex-basis: 295px;
}

.copyright {
  flex-basis: 100%;
  margin-top: 42px;
}
