@import "_fonts";
@import url("../normalize.css");

$main-gold: #fed136;
$main-dark-grey: #222222;
$main-grey: #777777;
$main-light-grey: #bbbbbb;
$montserrat: "Montserrat", sans-serif;
$droid-serif-italic: "DroidSerif-Italic", serif;
$roboto-slab: "Roboto Slab", serif;
$wisdom: "Wisdom-Script";

@mixin clearfix {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.content {
  width: 940px;
  margin: auto;
}

.header {
  padding-left: 5px;
  margin-bottom: 113px;

  &::after {
    @include clearfix;
  }
}

.logo {
  font: 26px/1.2 $wisdom;
  color: $main-gold;
  text-decoration: none;
  float: left;
  letter-spacing: 0.05em;
}

.nav {
  float: right;
  padding-top: 15px;
}

.nav_item {
  display: inline-block;

  &:not(:first-child) {
    margin-left: 39px;
  }
}

.nav_item_link {
  text-decoration: none;
  font: 700 14px $montserrat;
  text-transform: uppercase;
  color: $main-dark-grey;
  transition: color linear 0.1s;

  &:hover {
    color: $main-gold;
  }
}

.main_title {
  font: bold 40px $montserrat;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.025em;
}

.advantages {
  margin-bottom: 117px;
}

.advantages_title {
  color: $main-dark-grey;
  margin-bottom: 8px;
}

.main_subtitle {
  font: 16px $droid-serif-italic;
  text-align: center;
  color: $main-grey;
}

.advantages_subtitle {
  margin-bottom: 76px;
}

.advantages_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages_item {
  flex-basis: 31%;
}

.advantages_item_img_wrapper {
  margin-bottom: 22px;
}

.advantages_item_img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.advantages_item_title {
  font: 700 18px $montserrat;
  color: $main-dark-grey;
  text-align: center;
  letter-spacing: -0.025em;
  margin-bottom: 10px;
}

.advantages_item_description {
  font: 14px/22px $roboto-slab;
  color: $main-grey;
  text-align: center;
}

.contact_wrapper {
  background: url(../img/background-map.png) 100% 85% no-repeat, $main-dark-grey;
}

.contact {
  padding: 100px 0 115px 0;
}

.contact_title {
  color: #ffffff;
  margin-bottom: 12px;
}

.contact_subtitle {
  margin-bottom: 75px;
}

.contact_form_data_wrapper {
  margin-bottom: 31px;
}

.contact_form_data_wrapper::after {
  @include clearfix;
}

.contact_form_inputs_wrapper {
  float: left;
  width: 48.4%;
}

.contact_form_inputs {
  display: block;
  width: 100%;
  height: 52px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding-left: 18px;

  &:not(:last-child) {
    margin-bottom: 27px;
  }

  &::placeholder {
    font: 700 14px $montserrat;
    text-transform: uppercase;
    color: $main-light-grey;
  }
}

.contact_form_message_wrapper {
  float: right;
  width: 48.4%;
}

.contact_form_message {
  display: block;
  width: 100%;
  height: 210px;
  resize: none;
  overflow: hidden;
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 15px 18px;

  &::placeholder {
    font: 700 14px $montserrat;
    text-transform: uppercase;
    color: $main-light-grey;
  }
}

.contact_form_submit {
  display: block;
  width: 240px;
  height: 65px;
  margin: auto;
  border: 0;
  outline: none;
  border-radius: 2px;
  font: 700 18px $montserrat;
  text-transform: uppercase;
  color: #ffffff;
  background: #fed136;
}


