* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  min-height: 100vh;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

.main {
  margin: auto;
  width: 1110px;
  padding-top: 30px;
  padding-bottom: 80px;
  min-height: 100vh;
}

.header {
  margin-bottom: 86px;
}

.header::after {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

.logo_link {
  display: inline-block;
  float: left;
}

.logo {
  text-transform: uppercase;
  font: 30px "Roboto", sans-serif;
  color: #555252;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.menu_list {
  display: inline-block;
  float: right;
  line-height: 36px;
}

.menu_item {
  display: inline-block;
  margin-right: 26px;
}

.menu_item:last-child {
  margin-right: 0;
}

.menu_item_link {
  font: 14px "Open Sans", sans-serif;
  color: #0f0101;
  font-weight: bold;
  text-transform: uppercase;
}

.menu_item_link:hover {
  color: #1abc9c;
}

.product {
  margin-bottom: 64px;
}

.content_title {
  text-align: center;
  font: 48px "Roboto", sans-serif;
  font-weight: 900;
  color: #515151;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 120px;
  position: relative;
}

.content_title::after {
  content: "";
  width: 164px;
  border-bottom: 7px solid #1abc9c;
  position: absolute;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
}

.product_list {
  font-size: 0;
}

.product_item {
  display: inline-block;
  width: 255px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product_item:nth-child(4n) {
  margin-right: 0;
}

.product_item:hover .product_info {
  background-color: #1abc9c;
}

.product_item:hover .product_price {
  background-color: #7fd9c7;
}

/* .product_item:nth-last-child(-n+4) {
    margin-bottom: 0;
} */

.product_link {
  display: block;
}

.product_img_wrapper {
  background-color: #e9f0fd;
  overflow: hidden;
}

.product_img {
  display: block;
  margin: auto;
  width: 100%;
  object-fit: contain;
  padding: 20px;
  height: 282px;
}

.product_info {
  overflow: hidden;
  height: 40px;
  background-color: #323232;
}

.product_info::after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.product_name,
.product_price {
  font: 18px "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 900;
}

.product_name {
  float: left;
  padding-left: 10px;
}

.product_price {
  float: right;
  background-color: #8c8c8c;
  text-align: center;
  width: 54px;
}

.articles {
  font-size: 0;
}

.articles_title {
  margin-bottom: 107px;
}

.article {
  width: 350px;
  display: inline-block;
  margin-right: 30px;
}

.article:last-child {
  margin-right: 0;
}

.article_img_wrapper {
  overflow: hidden;
  margin-bottom: 9px;
}

.article_img {
  display: block;
  width: 100%;
  height: 262px;
  object-fit: cover;
}

.article_title {
  font: 18px "Open Sans", sans-serif;
  color: #555252;
  line-height: 1.444;
  font-weight: 600;
  margin-bottom: 34px;
  position: relative;
  letter-spacing: -0.02em;
}
.article_title::after {
  content: "";
  position: absolute;
  width: 136px;
  border-bottom: 3px solid #1abc9c;
  bottom: -11px;
  left: 0;
}

.article_text {
  font: 14px "Open Sans", sans-serif;
  color: #555252;
  line-height: 1.857;
  letter-spacing: -0.3px;
  height: 75px;
  overflow: hidden;
  margin-bottom: 13px;
}

.article_link {
  display: block;
  width: 159px;
  height: 51px;
  text-align: center;
  background: #4ec6ab;
  color: #ffffff;
  font: 300 16px/51px "Open Sans", sans-serif;
  border-radius: 2px;
}