<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/index.css" />
    <title>Vue Learn</title>
    <meta name="author" content="Dmytro Kryshenyk" />
  </head>
  <body>
    <div id="app">
      <!-- <comp-a></comp-a>
        <comp-b></comp-b> -->
      <p>{{ text }}</p>
      <p>{{ text | reverse }}</p>
      <p>{{ text | reverse | toUpperCase }}</p>
      <p>{{ upper(text) }}</p>

      <button type="button" @click="show = !show">Show/Hide</button>
      <transition name="someNazva" appear>
        <p v-if="show">Цей текст буде анымованим</p>
      </transition>

      <button type="button" @click="showSlide = !showSlide">Slide it</button>
      <transition name="slide" mode="out-in">
        <p v-if="showSlide" key="slide1" class="slide">Слайд 1</p>
        <p v-if="!showSlide" key="slide2" class="slide">Слайд 2</p>
      </transition>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a fugiat cupiditate sunt ipsa ea
        provident nobis, porro deleniti perspiciatis!
      </p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        text: "Це якийсь текст",
        show: false,
        showSlide: true
      },
      filters: {
        reverse(str) {
          return str
            .split("")
            .reverse()
            .join("");
        },
        toUpperCase(someStr) {
          return someStr.toUpperCase();
        }
      },
      methods: {
        upper(str) {
          return str.toUpperCase();
        }
      }
    });

    // let countMixin = {
    //   data() {
    //     return {
    //       count: 0
    //     };
    //   },

    //   methods: {
    //     clickCounter() {
    //       this.count += 1;
    //     }
    //   }
    // };

    // Vue.component("comp-a", {
    //   name: "comp-a",
    //   template:
    //     '<div><p> На кнопку нажали {{ count }} раз</p><button type="button" @click="clickCounter">Click Comp1</button></div>',
    //   mixins: [countMixin]
    // });

    // Vue.component("comp-b", {
    //   name: "comp-b",
    //   template:
    //     '<div><p> На кнопку нажали {{ count }} раз</p><button type="button" @click="clickCounter">Click Comp2</button></div>',
    //   mixins: [countMixin]
    // });
  </script>
</html>
