@import "fonts.scss";
@import url("../normalize.css");

$light-red: #ff4e50;
$font-roboto: "Roboto", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

@mixin list_none_decoration {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


body {
    padding: 5px;
}

.main {
  width: 320px;
  margin: auto;
}

.header_wrapper {
  background: url("../img/main-background.jpg") no-repeat center, rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
  // background-size: cover;
  // no-repeat center cover
  // url("../img/main-background.jpg"),
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.logIn_signUp {
  order: -1;
  margin-bottom: 115px;
}

.logo {
  font: bold 20px/1.2 $font-montserrat;
  color: #ffffff;
  text-transform: uppercase;
}

.logIn_signUp_item {
  @include list_none_decoration;
  display: inline-block;
}

.logIn_signUp_links {
  font: bold 13px/30px "Montserrat", sans-serif;
  color: #ffffff;
}

.signUp_link {
  border: 2px solid #ffffff;
  border-radius: 17px;
  display: block;
  height: 36px;
  width: 90px;
  margin-left: 17px;
  text-align: center;
}

@mixin header_banner_prop {
    color: #ffffff;
    text-align: center;
}

.header_banner {
    padding: 28px 20px 0 20px;
}

.header_banner_title {
    font: bold 30px/1.2 $font-montserrat;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: 0px;
    @include header_banner_prop;
    margin-bottom: 10px;
        
}

.header_banner_subtitle {
    font: 18px/1.2 $font-montserrat;
    @include header_banner_prop;
    padding: 0 12px;
    
}
