@import "fonts.scss";
@import url("../normalize.css");

$light-red: #ff4e50;
$font-roboto: "Roboto", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

@mixin list_none_decoration {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  padding: 5px;
}

.content {
  margin: auto;
  width: 320px;
  outline: 1px solid lightblue;
}

.header_wrapper {
  background: url("../img/main-background.jpg") no-repeat center, rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-blend-mode: darken;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 138px 0;
}

.logIn_signUp {
  order: -1;
  margin-bottom: 115px;
}

.logo {
  font: bold 20px/1.2 $font-montserrat;
  color: #ffffff;
  text-transform: uppercase;
}

.logIn_signUp_item {
  @include list_none_decoration;
  display: inline-block;
}

.logIn_signUp_links {
  font: bold 13px/33px "Montserrat", sans-serif;
  color: #ffffff;
}

.signUp_link {
  border: 2px solid #ffffff;
  border-radius: 17px;
  display: block;
  height: 36px;
  width: 90px;
  margin-left: 17px;
  text-align: center;
}

@mixin header_banner_prop {
  color: #ffffff;
  text-align: center;
}

.header_banner {
  padding: 28px 20px 0 20px;
}

.header_banner_title {
  font: bold 30px/1.2 $font-montserrat;
  text-transform: uppercase;
  letter-spacing: -1px;
  word-spacing: 0px;
  @include header_banner_prop;
  margin-bottom: 9px;
}

.header_banner_subtitle {
  font: 300 18px/1.2 $font-roboto;
  @include header_banner_prop;
  padding: 0 25px;
  margin-bottom: 15px;
}

.header_banner_link {
  @include header_banner_prop;
  display: block;
  height: 40px;
  width: 280px;
  margin: auto;
  background: $light-red;
  font: bold 14px/40px $font-montserrat;
  border-radius: 18px;
  letter-spacing: -0.3px;
}

@media (min-width: 768px) {
  .content {
    width: 768px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 49px 233px 49px;
  }

  .logIn_signUp {
    order: 0;
    margin-bottom: 0px;
  }

  .header_banner {
    margin: auto;
    padding: 0 40px;
    margin-top: 140px;
  }

  .header_banner_title {
    font-size: 52px;
    margin-bottom: 24px;
  }

  .header_banner_subtitle {
    font-size: 24px;
    margin-bottom: 33px;
  }

  .header_banner_link {
    width: 226px;
  }
}
